/*my colors:

03045e - main
023e8a - second
ade8f4 - grey
caf0f8 - light
8900e4 - violet
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/*logo animated*/

.circle{
    position: absolute;
    width: auto;
    display: flex;
    top: 0;
    margin-top: .4em;
    height: 20px;
    align-items: center;
    justify-content: center;
  }
  .circle i{
    width: 40px;
    height: 38px;
    /* background-color: #78039b41; */
    animation: circleC 5s infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    z-index: -3;
    }
  .cir1{
    width: 5px;
    height: 5px;
    background-color: #caf0f8;
    border-radius: 100%;
    animation: circleM 5s infinite;
  }
  .logo{
    cursor: pointer;
    position: relative;
  }
  
@keyframes circleM{
    0%{
      transform: scale(0);
    }
    
    25%{
      transform: scale(2);
    }
    75%{
      transform: scale(0);
    }
    100%{
      transform: scale(0);
    }
    }
@keyframes circleC{
    
    0%{
      transform: rotate(0deg);  
    }
    
    25%{
      transform: rotate(90deg);
    
    }
    75%{
      transform: rotate(180deg);
     
    }
    100%{
      transform: rotate(360deg);
     
    }
    }
/*ends of logo animated*/
/*navigation bar start here..*/
.navbar .logo h1 a{
    color: #ade8f4;
    cursor: pointer;
    text-decoration: none;
}
.b{
    color:#caf0f8;
}

.navbar {
  position: fixed;
  top: 90;
  z-index: 999;
  width: 100%;
  font-family: montserrat, sans-serif;
  padding: 1.5rem 0;
  background: #2f0755;
  background-size: cover;
  transition: ease-in-out 0.8s;
  z-index: 999;
  box-shadow: 0 0 15px -1px black;
  opacity: 0;
}
.navbar.sticky {
  position: fixed;
  width: 100%;
  font-family: montserrat, sans-serif;
  padding: 1.5rem 0;
  background: #03045e;
  background-size: cover;
  box-shadow: 0 0 10px 1px;
  opacity: 1;
  z-index: 999;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a.sticky {
  color: #ade8f4;
}
.navbar .menu li a {
  color: #ade8f4;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 2em;
  transition: all 0.5s linear;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar .menu li a:hover {
  color: rgb(0, 255, 128);
}
/* menu button*/
.menu-btn i.sticky {
  background: linear-gradient(60deg, #77039b, #a405b3, #fd03f1);
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
}

.menu-btn {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 1.9em;
  top: 0;
  bottom: 0;
}

.menu-btn i {
  background-color: #8900e4;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.menu-btn i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.menu-btn i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.menu-btn i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.menu-btn.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.menu-btn.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.menu-btn.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
/*ends here..*/
/*home start here...*/

.home-container .max-width{
    height: 100vh;
    width: 100%;
    background-color: #023e8a;
    margin: 0 auto;
    padding: 0 5em;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-attachment: fixed;
    background-image: linear-gradient(#03055e2d, #023e8a), url('/pics/earth-g4abfeb622_1920.jpg');    
}

.home-right .content{
    font-size: 62px;
    font-weight: 500;
    line-height: .8;
    
    -transform: uppercase;
    margin-top: 1em;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.read{
    color: aqua; 
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.home-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #caf0f8;

}

.home-left{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    position: relative;
   
    flex-wrap: nowrap;
    overflow: hidden;
}
.moon{
    position: absolute;
    margin: 0 auto;
    animation: rotate 100s infinite;
  
 
}
.home-left .moon{
  width: 250px;
  padding: 1em;
  
}
@keyframes rotate{
    0%{
    transform: rotate(0);
    }
    25%{
    transform: rotate(90deg);
    }
    50%{
    transform: rotate(180deg);
    }
    75%{
    transform: rotate(270deg);
    }
    100%{
    transform: rotate(360deg);
    }
}
.astro{
    position: absolute;
    width: 280px;
    margin-left: 1em;
    margin-top: 15em;
    animation: floating 4s infinite;
    
}
@keyframes floating {
   from { transform: translate(0,  0px); }
   65%  { transform: translate(0, 25px); }
   to   { transform: translate(0, -0px); }    
}

/*about start here..*/
.about-flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    
}
.about-flex .right{
  width: 60%;
}
.about-container .max-width{
    height: 80vh;
    width: 100%;
    background-color: #023e8a;
    /* margin: 0 auto; */
    padding: 0 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
    
}

.spaceship{
    position: absolute;
    left:  0;
    margin-top: -12.5em;
    width: 500px;
    display: block;
}
.spaceship.sticky{
  display: none;
  width: 250px;
  transition: 0.8s ease-in-out;
}



.about-container .colum-left{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about-container .colum-left lottie-player{
    width: 80%;
    position: relative;
}
.lot{
    position: relative;
    margin-top: 10em;
}
.avatar{
    bottom: 0;
    position: absolute;
    width: 100%;
    border-radius: 50em ;
}
.about-container .right .more {
    display: none;
    margin: 1em 0;
}

.about-container .right .more.active {
    display: block;
}
.text{
    color:#9461b6;
    text-transform: uppercase;
    font-size: 2.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-container p, .more{
    color: #ade8f4;
    font-size: 1.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.readmore{
    color: #caf0f8;
    text-decoration: none;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*expertise start here..*/
.expertise .max-width{
  height: 100vh;
  width: 100%;
  background-color: #023e8a;
  margin: 0 auto;
  padding: 0 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-attachment: fixed;
}
.expertise .max-width{
  background-image: linear-gradient(#023e8a,#03055e2d ), url('/pics/eart.jpg');  
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  ;
}

/*footer and media query start here..*/
footer{
    background-color: #000000;
    height: 90px;
    color: beige;
    z-index: 99;
  }
  
/* responsive Media Query */
  
@media (max-width: 1920px) {
   
.menu-btn {
    display: none;
    z-index: 999;
    }
  }
  
@media (max-width: 1104px) {
  
  }
  
@media (max-width: 991px) {
  
.menu-btn {
    display: none;
    z-index: 999;
    }
  }
  
@media (max-width: 947px) {
.menu-btn {
    display: block;
    z-index: 999;
    }
.navbar .menu {
    position: fixed;
    height: 80vh;
    width: 100%;
    left: -100%;
    top: 0;
    opacity: 80%;
    text-align: center;
    padding-top: 6em;
    transition: all 0.4s ease;
    }
.navbar .menu.active {
    left: 0;
    }
.navbar .menu li {
    display: block;
    }
.navbar .menu li a {
    display: inline-block;
    margin: 1.5rem;
    font-size: 1.8;
    }
.navbar .menu li a:hover {
    transform: scale(1.3);
    }
.home-container .max-width{
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
}
.astro{
    width: 280px;
    margin-left: -9em;
}
.spaceship{
width: 390px;
}
@media (max-width: 690px) {
.home-container .max-width{
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
   padding: 0;
   
}
.astro{
    width: 150px;
    margin: 0;
}
.spaceship{
width: 290px;
z-index: 2;
margin-left: -9em;
margin-top: -7em;
}
.about-container .max-width{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding:.5em;
}
.about-flex{
    width: 100%;
}
.about-flex .right{
  width: 100%;
  font-size: 12px;
  padding: 0 2em;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: relative;
  box-sizing: border-box;
}
.more{
  width: auto;
 
}

 .lot img{
    width: 100%;
    
 }
 .about-container .colum-left lottie-player{
    width: 100%;
 } 
 .colum-left{
  
  width: 100%;
  margin: -10em 0;
 position: relative;

 }
 .home-left{
  width: 100%;
 }
 .home-left .moon{
 width: 360px;

 }
 .home-right .content{
  font-size: 2.5em;
 
 }
 footer{
  font-size: .5em;
  text-align: center;
 }

}
  
@media (max-width: 500px) {
      
}
  
  
@media (max-width: 375px) {
  
}
  }  
